:root {
    /*    declaring some variables for color*/
    --bg-color:#141415 ;
/*    --hover-color: #05BD9E;*/
	 --hover-color: rgba(14,126,140,1.00);
    --text-color: #7C7C7C;
	
/*	color for card*/
	--card-color:  linear-gradient( rgba(72,74,74,1.00),rgba(14,126,140,1.00));

}

