
.carousel {
	height: auto;
	width: 100%;
}

.carousel-inner img{
	width: 100%;
	height: auto;
}

.top-4-left {
	width: 50%;
	box-sizing: border-box;
	float: left;
	padding-right: 10px;
}

.top-4-right {
		width: 50%;
	box-sizing: border-box;
	float: right;
     
}

.content-card {
	margin: auto;
	width: 80%;
	transition: 1s all;
	margin-top: 50px;
	border-radius: 1px 7px 1px 1px;
	color: azure;
	background:var(--card-color);
}

.content-card:hover{
	transform: scale(1.1);
}

.card-text {
	width: 65%;
	box-sizing: border-box;
	display: inline-block;
	float: right;
	font-size:1vw; 
	padding-left: 5px;
}

.card-img-p {
	display: inline-block;
	width: 35%;
	box-sizing: border-box;
}

.space {
	height: 56px;
	width: 100%;
}

.top-imgs-1 {
	height: 21vh;
	margin-top: 10px;
	margin-bottom: 5px;
}

.top-imgs-2 {
	height: 21vh;
	margin-top: 10px;
	margin-bottom: 5px;

}



.heading {
	background: #363535;
	font-size: 1.6vw;
	color: azure;
	border-radius: 5px;
	text-align: center;
	border-bottom: 5px solid black;
}

.places {
	background: linear-gradient(rgba(5, 218, 182, 0.65),rgba(222, 218, 182, 0.65));
	font-size: 1.2vw;
	color: azure;
	border-radius: 5px 1px 1px 1px;
	text-align: center;
	border-bottom: solid black;
	list-style: none;
}

.Detail-cont-img {
	width: 80%;
	height: auto;
	position: relative;
}

.Detail-cont-text {
	color: azure;
}

.rate-DV {
	font-weight: bolder;
	right: 1%;
	position: absolute;
top: 3%;
	color: var(--Img-text-color);
}

.DV-button {

	font-weight: bold;
	border: none;
	bottom: 3%;
	position: absolute;
	background:var(--bg-color);
	text-align: center;
	border-radius: 3px;
	padding: 5px 20px;
	color: var(--Img-text-color);
	font-size: 1vw;
	text-decoration: none;
	right: 5%;
}

.elev-DV {	
	font-weight: bolder;
	position: absolute;
top: 3%;
	left: 2%;
	color: var(--Img-text-color);
}

.cor-DV {
	font-weight: bolder;
	left: 1%;
	position: absolute;
    bottom: 3%;
	color: var(--Img-text-color);
	
}

.Img-2-Content {
	width: 50%;
	display: inline-block;
	float: left;
	padding-left: 9px;
}

.text-color {
	color: white;
}

.side-div {
	background: var(--side-bg-color);
position: inherit;
	height: 530px;
	width: 100%;
}

.side-heading {
	background: rgba(5,157,170,1.00);
	margin: 20px 10px 10px 50px;
      box-sizing: border-box;
	padding: 4px 10px 2px 15px ;
	
}

.side-sm-heading {
	padding: 9px 0px 9px 19px;
	border-bottom: 1px dashed white;
	
}

.side-div-img {
	width: 250px;
	height: 180px;
	padding-top: 5px;
	
}

/*
.sid-col {
	position: absolute;
	width: 100%;
}
*/

.side-img-heading {
	padding: 9px 0px 9px 19px;
	border: none;
}

.side-div-h {
	background: var(--hover-color);
	padding: 5px 2px 5px 2px;
      margin: 10px 70px 10px 70px;
	text-align: center;
}

.country {
	background: var(--hover-color);
	display: block;
	margin-right: 16vw;
	font-size: 1.2vw;
	text-align: center;
}

.side-bt-heading {
	padding: 9px 0px 9px 19px;
	border-bottom: 1px dashed white;
	font-size: 1.8vw;
}

