


.carousel-inner img {
    width: 100%;
    height: auto;
}

.top-4-left {
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding-right: 10px;
}

.top-4-right {
    width: 50%;
    box-sizing: border-box;
    float: right;
}

.content-card {
    margin: auto;
    width: 80%;
    transition: 1s all;
    margin-top: 50px;
    border-radius: 1px 7px 1px 1px;
    color: azure;
    background: var(--card-color);
}

    .content-card:hover {
        transform: scale(1.1);
    }

.card-text {
    width: 65%;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    font-size: 1vw;
    padding-left: 5px;
}

/*
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
    color: white;
  }
}


@media screen and (max-width: 600px) {
  body {
    background-color: olive;
    color: white;
  }
}
*/

.card-img-p {
    display: inline-block;
    width: 35%;
    box-sizing: border-box;
}

.space {
    height: 56px;
    width: 100%;
}

.top-imgs-1 {
    height: 21vh;
    margin-top: 10px;
    margin-bottom: 5px;
}

.top-imgs-2 {
    height: 21vh;
    margin-top: 10px;
    margin-bottom: 5px;
}



.heading {
	list-style-type:none;
    background: #363535;
    font-size: 1.6vw;
    color: azure;
    padding-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    border-bottom: 5px solid var(--hover-color);
    margin-top: 10px;
	cursor: pointer;
}

.places {
	
    background: linear-gradient(rgba(5, 218, 182, 0.65),rgba(0,0,0,1.00));
    font-size: 1.2vw;
    color: azure;
    border-radius: 5px 1px 1px 1px;
    text-align: center;
    border-bottom: solid black;
    list-style-type: none;
    padding: 2px 5px 2px 5px;
    margin-top: 5px;
	cursor: pointer;
	
}












.cor-DV {
    font-weight: bolder;
    left: 1%;
    position: absolute;
    bottom: 3%;
    color: var(--Img-text-color);
}





.side-div {
    background: var(--side-bg-color);
    position: inherit;
    height: 530px;
    width: 100%;
}

.side-heading {
    background: rgba(5,157,170,1.00);
    margin: 20px 10px 10px 50px;
    box-sizing: border-box;
    padding: 4px 10px 2px 15px;
}

.side-sm-heading {
    padding: 9px 0px 9px 19px;
    border-bottom: 1px dashed white;
}

.side-div-img {
    width: 250px;
    height: 180px;
    padding-top: 5px;
}

/*
.sid-col {
	position: absolute;
	width: 100%;
}
*/

.side-img-heading {
    padding: 9px 0px 9px 19px;
    border: none;
}

.side-div-h {
    background: var(--hover-color);
    padding: 10px 2px 1px 5px;
    margin: 10px 20px 10px 20px;
    text-align: center;
    font-size: 1.7vw;
}

.country {
    background: var(--hover-color);
    display: block;
    margin: 1px 90px 1px 10px;
    font-size: 1.2vw;
    text-align: center;
}

.side-bt-heading {
    padding: 9px 0px 9px 19px;
    border-bottom: 1px dashed white;
    font-size: 1.5vw;
}


.carousel-inner {
    height: 100%;
    
    width: 100%;
}

.carousel {
	margin: 25px auto;
    width: 95%;
}





.main-page {
    display: inline-block;
}

.set-dv-left {
    width: 30%;
    float: left;
    background: rgba(251,251,251,1.00);
    display: inline-block;
}

.set-dv-center {
    width: 50%;
    float: left;
    font-size: 1vw;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    background: rgba(54,128,120,1.00);
}

.set-dv-right {
    width: 20%;
    float: right;
}

.set-dv-left-img {
    width: 100%;
    height: auto;
}


.set-dv-left-head {
    text-align: center;
    line-height: 3em;
}


.set-dv-left-text {
    margin: 0 auto;
    font-size: 1.2vw;
	padding: 1px 10px;
}

.set-dv-left-head-font {
    padding: 5px;
    font-size: 1.5vw;
    font-weight: bolder;
	color: white;
  }

.heading-dv {
    font-size: 2.8vw;
    font-weight: bolder;
    border-bottom: double dashed rgba(7,127,121,1.00);
    box-shadow: 4px 4px 10px 4px var(--hover-color);
	color: white;
	padding: 2px 8px 10px; 
}

.carousel-item {
    width: 100%;
    height: 100%;
}
.sub-page {
	padding: 20px;
}

.pd-5 {
	padding: 5px;
}

.box-color {
	background: var(--hover-color);
}

.head-sb-page h6{
									color: rgba(30,176,188,1.00);
								}
								.head-sb-page h4{
									color:  white;
									padding: 5px 10px;
									border-radius: 5px;
								}
								hr{
									height: 1px;
									width: 90%;
									margin: auto;
									background-color: #57B7AF;
									margin-top: 4px;
									margin-bottom: 4px;
								}
								p.text-color{
									color: rgba(34,153,177,1.00);
								}

