


.Button {
    background: rgba(26,26,24,1.00);
    text-align: center;
    border-radius: 3px;
    padding: 8px 20px;
    color: var(--hover-color);
    border: none;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 var(--hover-color);
	font-weight: bold;
}

    .Button:hover {
        opacity: 0.8;
        background-color:white;
        text-decoration: none;
        color: solid black !important;
    }
/*zoom pics*/
/* @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

  body {
    background: #fff;
    color: #000;
    margin: 0;
  }

  .tiles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .tile {
    position: relative;
    float: left;
    width: 33.333%;
    height: 100%;
    overflow: hidden;
  }

  .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }

  .txt {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 10%;
    left: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    cursor: default;
  }

  .x {
    font-size: 32px;
    line-height: 32px;
  }*/

.africaIndex {
    display: inline-block;
}

.africaIndexInner {
    height: auto;
    width: 50%;
}

.roundImg {
    border-radius: 50%;
    z-index: 222;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 100px;
}


.setImg {
}

.Tri-line-img {
    border-radius: 1px 15px 1px 15px;
    box-shadow: 0 8px 16px 0 var(--hover-color);
}

.long-div {
    z-index: 40;
    margin-top: 30px;
    background: #0E0E0E;
    display: inline-block;
    float: left;
    min-width: 390px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.longImg:hover {
    opacity: 0.6;
    transition-duration: 1.5s;
}

.longImg {
    width: 50vw;
    min-width: 300px;
    float: left;
    height: 250px;
}

.img-text {
    float: left;
    width: 22vw;
    padding: 2%;
    background: #0E0E0E;
    color: var(--text-color);
    font-size: 2vw;
}

.bg-Img {
    position: fixed;
    z-index: -2;
    height: 100vh;
    width: 100vw;
}

.contactForm {
    z-index: 333;
    height: 35vh;
    text-align: center;
}

.NnE {
    float: left;
    width: 30%;
    margin-right: 5%;
    text-decoration: none;
    padding: 10px 0;
    margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid black;
    background-color: inherit;
    /*    for variable text area*/
    min-height: 10px;
}

.PnSnM {
    float: left;
    width: 30%;
    margin-right: 5%;   
	text-decoration: none;
    border-bottom: 1px solid black;
    padding: 10px 0;
    /*    for variable text area*/
    min-height: 10px;
}

.Cbtn {
    float: left;
	    background: rgba(26,26,24,1.00);
    text-align: center;
    border-radius: 3px;
    padding: 8px 20px;
    color: var(--hover-color);
    border: none;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 var(--hover-color);
	font-weight: bold;
margin-top: 40px;
	margin-left: 100px;
	
}
.Cbtn:hover{
	   opacity: 0.8;
        background-color:gray;
        text-decoration: none;
        color: solid black !important;
}

.contact-form > textarea, input {
    border-style: inherit;
    border-color: inherit;
    background-color: transparent;
}





.newImg2 {
    width: 70%;
    height: auto;
}

    .newImg2:hover {
        cursor: pointer;
        opacity: 0.6;
        transition-duration: 1s;
    }




.five-img {
    width: 20%;
}

.test {
    width: 30%;
     display: inline-block;
	float:right;
	padding-left: 4px;
}

.colorBg {
    background: rgba(103,103,103,1.00);
}

.absolute {
    position: absolute;
}

.mapG {
    width: 100%;
}

	.vi-img-head {
		color: aliceblue;
		text-align: center;
		margin-left: 2%;
		width: 100%;
		font-size: 3vw;
		font-weight: bolder;
	}

.vi-img-head {
    margin-left: 2%;
}

.imgMax {
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    align-content: center;
}

.vi-imgs {
    width: 100%;
    height: auto;
    padding: 1%;
}

    .vi-imgs:hover {
        opacity: 0.6;
        cursor: pointer;
    }

        .vi-imgs:hover + .goto-overlay {
            display: block;
        }

.goto-overlay:hover {
    display: block;
}

.goto-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}

.paddingDel {
    padding: 0px !important;
    margin: 0px !important;
    padding-bottom: 20px !important;
    color: var(--text-color);
}

.set-4-img {
    width: 100%;
    height: 20vh;
    padding: 3px;
}

.round-p {
    display: inline;
    width: 70%;
    float: right;
    margin-top: 20px;
    font-style: italic;
	color: rgba(147,147,147,1.00);
}

.half-2div {
    width: 40%;
}

.long-div2 {
    display: inline-block;
    float: right;
    background: #959595;
}

.long-div3 {
    display: inline-block;
    float: right;
    background: #959595;
}

.newImg3 {
    width: 50%;
    height: 300px;
    padding: 4%;
}

    .newImg3:hover {
        opacity: .6;
        transition-duration: 1.5s;
    }

.img-text3 {
    width: 50%;
    font-size: 1.5vw;
    float: left;
    color: #1B1B1B;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 7vh;
}

.pb-img {
    padding-left: 30px;
    padding-right: 30px;
}

.bg-color {
    background-color: var(--bg-color);
}



.bg-gray-color {
    background: rgba(169,169,169,1.00);
}

.bg-color-blue {
    background: rgba(255,255,255,1.00);
}

.ab-parent {
    background-color: rgba(22,22,22,1.00);
}
/*social icons*/
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
    }

        .icon-bar a:hover {
            background-color: #000;
        }

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.content {
    margin-left: 75px;
    font-size: 30px;
}

.contact-heading {
    font-size: 40px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: bolder;
	font:italic;
	
	
}

.contact-form {
    text-align: center;
}

.top-img {
    position: relative;
}

.top-img-text {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    background: rgba(0,0,0,0);
}


.respo-font {
    font-size: 4vw;
    color: rgba(22,20,17,0.96);
}

.respo-font-h6 {
    font-size: 2vw;
    color: gray;
}


.top-btn-div {
    margin-top: 10vh;
}

.top-btn {
    background: #020013;
    text-align: center;
    border-radius: 3px;
    padding: 10px 30px;
    color: var(--hover-color);
    border: none;
    text-decoration: none;
    box-shadow:0 8px 16px 0 var(--hover-color);
    font-size: 1.5vw;
}

    .top-btn:hover {
     
        background-color: var(--hover-color);
        text-decoration: none;
        color: solid black !important;
        font-size: 1.5vw;
    }

.st-tri-div {
    padding-left: 10px;
    padding-right: 10px;
	padding: 30px;
}

.Tri-line {
    padding-left: 30px;
    padding-right: 30px;
	color: rgba(147,147,147,1.00);
	
}

.del-margin {
    padding: 0px !important;
    margin: 0px !important;
}

.paddingUp {
    padding: 5px 0px 0px 0px !important;
    margin: 0px !important;
    padding-bottom: 20px !important;
    margin-top: 40px;
}

.img-1 {
    cursor: pointer;
    transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
}

    .img-1:hover {
        transform: scale(1.05);
    }


.img-effect {
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.10));

}

.img-effect>img:hover ~ .overlay {
	display: block;
	
}


.shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #19f6e8;
}



@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }

    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}

/*zoom in pis*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

body {
    background: #fff;
    color: #000;
    margin: 0;
}

.tiles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tile {
    position: relative;
    float: left;
    width: 100%;
    height: 20vh;
    padding: 3px;
    overflow: hidden;
}

.photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
}

.txt {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 10%;
    left: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    cursor: default;
}

.x {
    font-size: 32px;
    line-height: 32px;
}




.container-fluid {
    overflow: hidden;
}



.set-end {
    width: 100%;
    height: 350px;
	max-height: 350px;
	max-width: 400px;
}

.set-top-btn {
    position: absolute;
    bottom: -18%;
    left: 51%;
    transform: translateX(-50%);
}

.roundImgDiv {
    color: var(--text-color);
}

.roundImgDiv2 {
    color: var(--text-color);
}

.bg-color-White {
    background: #F2EFEA;
}



.color {
    color: var(--hover-color);
}


.padup {
	margin-top: 0%;
	padding-top: 0px!important;
    position: relative;
}


.set-g-img {
	width: 100%;
	height: auto;
}

.padding-Del-g {
	padding: 0px !important;
    margin: 0px !important;
    padding-bottom:0px !important;
    color: var(--text-color);

}

.padup-inner {
	padding: 50px;
}

.overlay {	
	display: none;
	position: absolute;
	width: 100%;
	height: 43%;
	bottom: 0%;
	background: rgba(0,0,0,0.49);
	transition: 2s;
}
.overlay>h4{
	font-size: 2.5vw;
	font-weight: bolder;
}
.overlay>p{
	position: absolute;
	font-size: 1em;
	font-style: italic;
	bottom: 9%;
}
.overlay:hover{
	display: block;
	opacity: 4;
}

.vi-im-sH {
	color: aliceblue;
	text-align: center;
    margin-left: 2%;
    width: 100%;
	font-style: italic;
    font-size: 2.5vw;
	font-weight: bolder;
}



.im-sH {
	color: rgba(205,204,204,1.00);
	font-style: italic;
}








.nav-text {
	color: var(--hover-color) !important; 
	padding-left: 40px;
}
